$hover-color: #044b61;
$ff: "Philosopher", sans-serif;
$btn-bgc: #000;
$text-color: #000;
$btn-color: #fff;

.proDetailsContainer {
  margin-top: 3rem;
  .imageSectionProDetails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .wrapperAllImagePro {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 3rem;
      width: 15%;
      img {
        display: inline-block;
        margin-top: -1.5rem;
        width: 100%;
        clip-path: inset(15% 0% 15% 0%);
        border: 1px solid #000;
        border-color: #00000000;
        opacity: 0;
      }
    }
    .mainImgProDetail {
      width: 65%;
      margin-left: 5rem;
    }
  }

  .wrapperDetailChoosenPro {
    .nameChoosenPro {
      font-size: 25px;
      margin-top: 1rem;
      opacity: 0;
      transform: translateY(40px);
      clip-path: inset(0% 0% 100% 0%);
    }
    .priceChoosenPro {
      margin-top: 19px;
      font-family: sans-serif;
      font-size: 19px;
      font-weight: bold;
      color: #797979;
      opacity: 0;
      transform: translateY(40px);
      clip-path: inset(0% 0% 100% 0%);
    }
  }
  .featuresProdetails {
    margin-top: 40px;
    border-bottom: 1px solid #00000000;
    padding-bottom: 20px;
    list-style-type: disc;
    list-style-position: inside;
    .featuresProdetailItems {
      margin: 0.6rem 0;
      font-size: 15px;
      font-family: sans-serif;
      text-transform: capitalize;
      opacity: 0;
      transform: translateY(40px);
      clip-path: inset(0% 0% 100% 0%);
    }
  }

  .stockPro {
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 20px;
    color: #044b61;
    opacity: 0;
    transform: translateY(40px);
    clip-path: inset(0% 0% 100% 0%);
  }

  .sizePro {
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-top: 25px;
    font-weight: 700;
    opacity: 0;
    transform: translateY(40px);
    clip-path: inset(0% 0% 100% 0%);
  }
  .wrapperDifferentSizes {
    margin-top: 13px;
    .sizes {
      transform: scale(0);
      font-size: 15px;
      font-family: sans-serif;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 10px;
      border: 1px solid #a5a5a5;
      border-radius: 20px;
      cursor: pointer;
      padding: 8px 15px;
    }
  }
  .wrapperAddToCartProDetails {
    margin-top: 45px;
    display: flex;
    align-items: center;
    .wrapperCountBtns {
      opacity: 0;
      width: fit-content;
      border: 1px solid #a4a4a4;
      border-radius: 30px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      .increment {
        display: inline-block;
        font-size: 25px;
        margin-right: 50px;
        cursor: pointer;
      }
      .decrement {
        display: inline-block;
        font-size: 25px;
        margin-left: 50px;
        cursor: pointer;
      }
      .choosenProCount {
        font-family: sans-serif;
        font-weight: 700;
      }
    }
    .choosenProAddToCart {
      border: 1px solid #000;
      transform: scale(0);
      display: inline-block;
      background-color: #000;
      outline: none;
      padding: 15px 30px;
      font-size: 17px;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      text-transform: capitalize;
      margin-left: 2rem;
      border-radius: 30px;
    }
  }
  .wrapperGuarantee {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(164, 164, 164, 0.5960784314);
    .Guarantee {
      display: flex;
      align-items: center;
      border-right: 1px solid #a4a4a4;
      margin-right: 4rem;
      p.GuaranteeDesc {
        width: 50%;
        font-size: 15px;
        text-transform: capitalize;
        margin-left: 10px;
        line-height: 19px;
        font-family: sans-serif;
        font-weight: 700;
      }
    }
    .Warranty {
      display: flex;
      align-items: center;
      border-right: 1px solid #a4a4a4;
      margin-right: 4rem;
      p.WarrantyDesc {
        width: 50%;
        font-size: 15px;
        text-transform: capitalize;
        margin-left: 10px;
        line-height: 19px;
        font-family: sans-serif;
        font-weight: 700;
      }
    }
    .Gift {
      display: flex;
      align-items: center;
      margin-right: 4rem;
      p.GiftDesc {
        width: 50%;
        font-size: 15px;
        text-transform: capitalize;
        margin-left: 10px;
        line-height: 19px;
        font-family: sans-serif;
        font-weight: 700;
      }
    }
  }
}

.wrapperRelatedProItem {
  margin-top: 5rem;
  width: 75%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: 0 0 0px 0px #00000040;
  transition: all 0.35s;
  .wrapperImgRelatedProItem {
    overflow: hidden;
    width: 100%;
    img.imgBestProItem {
      width: 100%;
      transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
      filter: grayscale(0) brightness(1);
    }
  }

  .rateRelatedProItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .nameRelatedProItem {
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 12px;
    line-height: 20px;
  }
  .priceRelatedProItem {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 14px;
    font-family: sans-serif;
  }
  .RelatedProItemBtn {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    font-family: sans-serif;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    transition: all 0.3s;
    opacity: 0;
  }
  &:hover {
    box-shadow: 0 0 20px 1px #00000040;
    .RelatedProItemBtn {
      opacity: 1;
    }
    .imgBestProItem {
      filter: grayscale(1) brightness(0.9);
    }
  }
}
.wrapperRelatedPros {
  .titleRelated {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .wrapperSliderRelated {
    margin-top: 5rem;
  }
}
