$hover-color: #044b61;
$ff: "Philosopher", sans-serif;
$btn-bgc: #000;
$text-color: #000;
$btn-color: #fff;

.blogDetails {
  padding: 0 3rem;
  .headerBlogDetail {
    .titleBlogDetail {
      font-size: 32px;
      margin-top: 2.5rem;
      perspective: 200;
      opacity: 0;
      clip-path: inset(0% 0% 100% 0%);
      transform: translateX(-5px) translateY(100px);
    }
    .currentData {
      font-size: 14px;
      font-family: sans-serif;
      margin-top: 14px;
      font-weight: 500;
      display: block;
      clip-path: inset(0% 0% 100% 0%);
      opacity: 0;
      transform: translateY(50px) translateX(-5px);
    }
    .imageBlogDetails {
      margin-top: -2.5rem;
      width: 100%;
      clip-path: inset(100% 0% 100% 0%);
      display: block;
      opacity: 0;
      transform: scale(1.2);
    }
  }
  .bodyBlogDetail {
    .descBlogDetail {
      margin-top: -2rem;
      font-size: 16px;
      line-height: 23px;
      font-family: sans-serif;
      color: #797979;
    }
    .unorderedListBlogDetail {
      margin-top: 45px;
      .titleUnOrder {
        font-size: 17px;
        color: #000;
        font-weight: 700;
      }
      ul.unorderBlogDetails {
        list-style-type: disc;
        margin-top: 30px;
        margin-left: 40px;
        li.unorderBlogDetailsItems {
          margin: 8px 0;
          font-size: 15px;
          font-family: sans-serif;
          color: #797979;
        }
      }
    }
    .orderedListBlogDetail {
      margin-top: 30px;
      .titleOrder {
        font-size: 17px;
        color: #000;
        font-weight: 700;
      }
      ol.orderBlogDetails {
        margin-top: 30px;
        margin-left: 40px;
        li {
          margin: 8px 0;
          font-size: 15px;
          font-family: sans-serif;
          color: #797979;
        }
      }
    }
    .blogDetailsBackBtn {
      text-decoration: none;
      color: #797979;
      display: block;
      font-size: 20px;
      width: fit-content;
      font-weight: 700;
      margin: 3rem auto;
      text-transform: capitalize;
      span.backIconBlogDetils {
        transition: all 0.3s;
        display: inline-block;
        margin-right: 5px;
        font-weight: 700;
        font-size: 20px;
        transform: translateX(0px);
        transition: all 0.3s;
      }
      &:hover {
        color: #044b61;
        .backIconBlogDetils {
          transform: translateX(-8px);
        }
      }
    }
  }
}
.blogDetailsContainer {
  margin-top: 6rem !important;
}
