$hover-color: #044b61;
$ff: "Philosopher", sans-serif;
$btn-bgc: #000;
$text-color: #000;
$btn-color: #fff;

.blogDetails {
  padding: 0 3rem;
  .headerBlogDetail {
    .titleBlogDetail {
      font-size: 32px;
      margin-top: 2.5rem;
    }
    .currentData {
      font-size: 14px;
      font-family: sans-serif;
      margin-top: 14px;
      font-weight: 500;
    }
    .imageBlogDetails {
      margin-top: -2.5rem;
      width: 100%;
      clip-path: inset(10% 0% 10% 0%);
      display: block;
    }
  }
  .bodyBlogDetail {
    .descBlogDetail {
      margin-top: -2rem;
      font-size: 16px;
      line-height: 23px;
      font-family: sans-serif;
      color: #797979;
    }
    .unorderedListBlogDetail {
      margin-top: 45px;
      .titleUnOrder {
        font-size: 17px;
        color: #000;
        font-weight: 700;
      }
      ul.unorderBlogDetails {
        list-style-type: disc;
        margin-top: 30px;
        margin-left: 40px;
        li.unorderBlogDetailsItems {
          margin: 8px 0;
          font-size: 15px;
          font-family: sans-serif;
          color: #797979;
        }
      }
    }
    .orderedListBlogDetail {
      margin-top: 30px;
      .titleOrder {
        font-size: 17px;
        color: #000;
        font-weight: 700;
      }
      ol.orderBlogDetails {
        margin-top: 30px;
        margin-left: 40px;
        li {
          margin: 8px 0;
          font-size: 15px;
          font-family: sans-serif;
          color: #797979;
        }
      }
    }
    .blogDetailsBackBtn {
      text-decoration: none;
      color: #797979;
      display: block;
      font-size: 20px;
      width: fit-content;
      font-weight: 700;
      margin: 3rem auto;
      text-transform: capitalize;
      span.backIconBlogDetils {
        transition: all 0.3s;
        display: inline-block;
        margin-right: 5px;
        font-weight: 700;
        font-size: 20px;
        transform: translateX(0px);
        transition: all 0.3s;
      }
      &:hover {
        color: #044b61;
        .backIconBlogDetils {
          transform: translateX(-8px);
        }
      }
    }
  }
}

.wrapperRelatedProItem {
  margin-top: 5rem;
  width: 75%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: 0 0 0px 0px #00000040;
  transition: all 0.35s;
  .wrapperImgRelatedProItem {
    overflow: hidden;
    width: 100%;
    height: 380px;
    img.imgBestProItem {
      width: 100%;
      transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
      filter: grayscale(0) brightness(1);
    }
  }

  .rateRelatedProItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .nameRelatedProItem {
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 12px;
    line-height: 20px;
  }
  .priceRelatedProItem {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 14px;
    font-family: sans-serif;
  }
  .RelatedProItemBtn {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    font-family: sans-serif;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    transition: all 0.3s;
    opacity: 0;
  }
  &:hover {
    box-shadow: 0 0 20px 1px #00000040;
    .RelatedProItemBtn {
      opacity: 1;
    }
    .imgBestProItem {
      filter: grayscale(1) brightness(0.9);
    }
  }
}

.wrapperRelatedPros {
  .titleRelated {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}
